* {
    outline: 0;
    color: #1e1e1f;
}
body {
    background-color: #edeff2;
}
img {
    object-fit: cover;
    user-select: none;
}
.slide-prev,
.slide-next {
    z-index: 1;
}
/* .slide-prev:hover {
    background: rgb(150, 150, 154);
    background: linear-gradient(
        90deg,
        rgba(150, 150, 154, 0.7525603991596639) 0%,
        rgba(255, 255, 255, 0) 100%
    );
}
.slide-next:hover {
    background: rgb(150, 150, 154);
    background: linear-gradient(
        270deg,
        rgba(150, 150, 154, 0.7525603991596639) 0%,
        rgba(255, 255, 255, 0) 100%
    );
} */
.owl-stage-outer {
    overflow: hidden;
    margin-top: 7vh;
}
.owl-stage {
    display: flex;
}
.owl-nav {
    display: none;
}
.owl-item {
    width: 100%;
    height: auto;
    margin: 0 2vw;
}
.owl-dots {
    display: flex;
    justify-content: center;
    width: 100%;
}
.owl-dot {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3vh 0.7vw;
    margin: 1vh 0.3vw;
    cursor: pointer;
}
.owl-dot span {
    width: 12px;
    height: 12px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    transition: all 0.2s;
}
.owl-dot.active span {
    background-color: #296fd9;
}
