* {
    outline: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
input,
select,
strong,
i,
b {
    color: #1e1e1f;
}
body {
    background-color: #edeff2;
    width: 100vw;
    overflow-x: hidden;
}
#root {
    width: 100vw;
    overflow-x: hidden;
}
img {
    object-fit: cover;
    user-select: none;
}

.slide-prev,
.slide-next {
    z-index: 1;
}
/* .slide-prev:hover {
    background: rgb(150, 150, 154);
    background: linear-gradient(
        90deg,
        rgba(150, 150, 154, 0.7525603991596639) 0%,
        rgba(255, 255, 255, 0) 100%
    );
}
.slide-next:hover {
    background: rgb(150, 150, 154);
    background: linear-gradient(
        270deg,
        rgba(150, 150, 154, 0.7525603991596639) 0%,
        rgba(255, 255, 255, 0) 100%
    );
} */
.owl-stage-outer {
    overflow: hidden;
    margin-top: 7vh;
}
.owl-stage {
    display: flex;
}
.owl-nav {
    display: none;
}
.owl-item {
    width: 100%;
    height: auto;
    margin: 0 2vw;
}
.owl-dots {
    display: flex;
    justify-content: center;
    width: 100%;
}
.owl-dot {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3vh 0.7vw;
    margin: 1vh 0.3vw;
    cursor: pointer;
}
.owl-dot span {
    width: 12px;
    height: 12px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    transition: all 0.2s;
}
.owl-dot.active span {
    background-color: #296fd9;
}
.header-content {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url("../../public/assets/header.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.cont-box {
    width: 30%;
}

.feat-card {
    width: 32%;
    margin-bottom: 2%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

/* LAP */
@media (max-width: 1279px) {
    .cont-box {
        width: 32%;
        margin: 0 0.5%;
    }
    .feat-card {
        width: 48%;
        margin-bottom: 3.6%;
    }
}
/* TAB */
@media (max-width: 1023px) {
    .cont-box {
        width: 48%;
        margin: 0 1%;
        margin-bottom: 2vh;
    }
}
/* PHONG */
@media (max-width: 767px) {
    .cont-box {
        width: 100%;
        margin-bottom: 2vh;
    }
    .feat-card {
        width: 100%;
        margin-bottom: 3vh;
    }
}
/* HEIGHT */
@media (max-height: 750px) {
    #pricing {
        margin-top: 400px;
    }
} ;
